.hero {
	padding: 25px 0;
}

.hero__inner {
	@include flex-starter;
}

.hero__content {
	width: 100%;
	max-width: 518px;
	margin-right: 30px;
}

.hero__title {
	margin: 0;
	margin-bottom: 18px;
	font-weight: 700;
	font-size: 40px;
	line-height: 150%;
	color: #22343d;
}

.hero__text {
	margin: 0;
	margin-bottom: 45px;
	font-weight: 400;
	font-size: 18px;
	line-height: 156%;
	color: #22343d;
}

.hero__links {
	@include flex-starter;
}

.hero__link {
	display: block;
	padding: 15px;
	width: 100%;
	max-width: 175px;
	margin-right: 30px;
	background-color: #02897a;
	border-radius: 4px;
	border: 1px solid transparent;
	text-decoration: none;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color: #ffffff;
	transition: all 0.3s ease;

	&:hover {
		background-color: #ffffff;
		border: 1px solid #02897a;
		color: #02897a;
	}

	&:active {
		opacity: 0.6;
	}
}

.hero__link--active {
	position: relative;
	width: 100%;
	max-width: 190px;
	padding-left: 30px;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	text-decoration-line: underline;
	color: #02897a;
	background-color: transparent;

	&::before {
		position: absolute;
		top: 15px;
		bottom: 0;
		left: 0;
		width: 20px;
		height: 22px;
		background-image: url('../images/hero-btn.svg');
		background-repeat: no-repeat;
		background-size: 100%;
		content: '';
	}
}

.dark {
	.hero__title {
		color: #ffffff;
	}

	.hero__text {
		color: #ffffff;
	}
}

@include max-width(1000px) {
	.hero__inner {
		flex-direction: column-reverse;
	}

	.hero__content {
		margin-right: 0;
		margin-top: 60px;
		text-align: center;
	}

	.hero__links {
		justify-content: center;
	}
}

@include max-width(576px) {
	.hero__content {
		width: 100%;
		max-width: 500px;
		min-width: 320px;
	}

	.hero__title {
		font-size: 36px;
	}

	.hero__link {
		width: 100%;
		max-width: 150px;
	}
}
